## This file contains mappings and features that are used in
## Exhaust Lite Gneeration 2. To assign this file to your config,
## you can add [include elg2.cfg] in your base config (printer.cfg)
## file.

##	Exhaust Lite 2 back LED
[neopixel elg2_back_led]
pin: PB0 # NeoPixel (ARGB) or free signal pin connected to such LED (PB0 was dedicated NeoPixel pin in BTT Octopus)
# PB0 for BTT Octopus, PC6 (RGB1) or PA9 (RGB2) for Manta V1.0,
# PA9 (RGB1) or PB15 (RGB2) for Manta 1.1, PD15 (RGB) for Manta V2,
# PF12 (RGB1) or PF11 (RGB2) for BTT Kraken...
chain_count: 30 # 15*2 / 8 top to bottom 7 left to right on ea. side
initial_RED: 0.5
initial_GREEN: 0.15
initial_BLUE: 0.15
color_order: GRB

## To make LEDs animate seamlessly, you should consider installing https://github.com/julianschill/klipper-led_effect .

## Filament runout sensing is put separately in an effort to reduce time.
## If you have installed a coupler adapter with runout sensing, you may
## uncomment runout.cfg assignment and the runout pin below.
# [include runout.cfg]
# [filament_switch_sensor runout_sensor]
# switch_pin: !PG14 
# !PG14 (STOP6) for BTT Octopus and Octopus Pro, !PC2 (M6-STOP) for BTT Manta V1 (1.0 and 1.1),
# !PC15 (M6-STOP) for BTT Manta V2 and Octopus Pro EZ, !PC10 (MIN8) for BTT Kraken,
# !PB12 (Z+) on MKS Monster8 V1, !PA13 (MT_DET) on MKS Monster8 V2...


## Exhaust fan
## NOTE: This config might exist in your printer config file before
## ELG2 was installed. If you confirm that your printer config file
## did not have exhaust fan section, you can uncomment this section.
#[heater_fan exhaust_fan]
#pin: PD13 # PD13 being FAN3 in BTT Octopus.
#max_power: 1.0
#shutdown_speed: 0.4
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0